<?xml version="1.0" encoding="utf-8"?>



<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a7351.bluetoothcontrol">

    <uses-permission android:name="android.permission.BLUETOOTH"/> <!--添加操作蓝牙的权限-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/><!--允许程序发现和配对蓝牙设备-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>